// font
$p: 16px;
$h1: 2.7rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.2rem;

$pResp: 14px;

// razmak
$naslovGore: 200px;
$naslovDole: 180px;

// boje

// STANDARDNE
$pozadina: #eef5ff;
$primarna: #86b6f6;
$primarnaTamnija: #176b87;
$primarnaSvetlija: #b4d4ff;
$primarnaSvetlija_svetlija: #667a96;
$tekstPrimarni: #3a3a3a;
