@import "partials/variables";
@import "partials/general";
@import "partials/navbar";
@import "partials/btn/formaBtn";


body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.ikonicaNazad {
  margin-top: 20px;
  margin-left: 20px;
  color: $tekstPrimarni;
}

#formaContainer {
  color: $tekstPrimarni;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  .formaNaslov {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .formaKartica {
    margin-bottom: 80px;
    width: 300px;
    background-color: $primarna;
    padding: 20px;
    border-radius: 10px;
    border-top: 4px solid $primarnaSvetlija;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        padding: 10px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $pozadina;
        color: $tekstPrimarni;
        transition: box-shadow 0.3s;
        &:focus {
          box-shadow: 0 0 10px $primarnaSvetlija;
        }
      }

      select{
        margin: 15px 0;
        background-color: $primarnaSvetlija;
        border: 2px solid $tekstPrimarni;
        height: 40px;
        border-radius: 4px;
        color: $tekstPrimarni;
      }
      .checkBoxContainer{
        margin: 20px 0;
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }
  .formaBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}

